.container-dropdown {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 5px solid rgb(204, 226, 204);
  padding: 15px;
}

.menu {
  width: 100px;
  position: absolute;
  background-color: wheat;
  display: flex;
  flex-direction: column;

  button {
    width: 100%;
    border: none;
    background-color: #a0e2ff;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.3rem 0.7rem;
  }

  button:hover {
    background-color: #cef0ff;
  }
}
