@import '../../styles/styles';

.nav {
  height: 80px;
  background-color: $darkBlueColor;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  padding: 0 20px;
  width: 100%;

  &__img__container {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    padding: 0 10px;
  }

  img {
    width: 70px;
    border-radius: 50px;
  }

  button {
    @include buttonStyle();
  }

  @media screen and (max-width: 460px) {
    img {
      width: 40px;
    }

    button {
      font-size: 1.2rem;
    }
  }
}
